.browse-page .bg {
	background-image: url('images/table.jpg');
	background-size: cover;
}
.upper {
	position: relative;
}
.pin-label-area > div {
	width: 55px;
	height: 55px;
	margin: 2px;
	line-height: 48px;
	text-align:center;
}
.tag {
    height: 100%;
    width: 100%;
    border:2px solid #000;
    border-left: 0px;
    cursor: pointer;
}
.tag::after{
    content:"";
    position: absolute;
    height:8px;
    width:8px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
}
.button{
    margin: 20% 40%;
    background-image: url(images/change_bt.PNG);
    background-size: 100%;
    height:103px;
    width: 180px;
    cursor: pointer;
    z-index: 3;
}
.paper-area {
	position: relative;
}
.paper {
	display: none;
	position: absolute;
    background-color: #fff;
    border-radius: 10px;
	width: 180px;
	height: 240px;
	word-break: break-all;
    cursor: pointer;
    -webkit-box-shadow: 13px 14px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 14px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 13px 14px 6px -1px rgba(0,0,0,0.75);

}
.paper::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 20px;
	border-style: solid;
	border-top-left-radius: 10px;
	border-left-color: yellow;
	border-top-color: yellow;
	border-right-color: white;
	border-bottom-color: white;
}
.paper.ADVEN::after {
	border-left-color: red;
	border-top-color: red;
}
.paper.EXP::after {
	border-left-color: orange;
	border-top-color: orange;
}
.paper.SKILL::after {
	border-left-color: green;
	border-top-color: green;
}
.paper.TRAV::after {
	border-left-color: #00baff;
	border-top-color: #00baff;
}
.paper.FAMI::after {
	border-left-color: blue;
	border-top-color: blue;
}
.paper.OTHER::after {
	border-left-color: purple;
	border-top-color: purple;
}
.dream{
    font-family: Sancreek;
    font-size: 30px;
    letter-spacing: 3px;
    z-index: 2;
}
.des{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    width:180px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.paper img {
	width: 150px;
	height: 90px;
    z-index: 2;
}

.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
          animation-name: bounceOutDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
