.browse-page .bg {
	background-image: url('images/wall.jpg');
	background-size: cover;
}
.upper {
	position: relative;
}
.pin-label-area > div {
	width: 55px;
	height: 55px;
	margin: 2px;
	line-height: 48px;
	text-align:center;
}
.hole {
    background-image: url(images/hole.png);
    background-size: 100%;
    cursor: pointer;
}
.paper-area {
	position: relative;
}
.paper {
	display: none;
	position: absolute;
	background-image:url(images/wanted.jpg);
	width: 180px;
	height: 270px;
	word-break: break-all;
    cursor: pointer;

}
.dream{
    font-family: Sancreek;
    font-size: 36px;
    letter-spacing: 3px;
}
.paper img {
	width: 160px;
	height: 100px;
}
.modal .modal-container {
	max-width: 400px;
	max-height: 600px;
	width: 100%;
	height: 100%;
	color: black;
	background-color: #f1e9d2;
	border: 1px white solid;
}
.modal .picture {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	overflow: hidden;
	margin: 10px 0 0 10px;
}
.modal .picture img {
	width: 100%;
	height: 100%;
}
.modal .comment-area span {
	font-size: 1.17em;
	font-weight: bold;
	margin-right: 20px;
}
.modal .commentAll {
	overflow: auto;
}
.modal .author {
	width: 100%;
	text-decoration: none;
}
.modal .author a {
	color: black;
	text-decoration: none;
}

/* Comments */

.modal #comments {
    /*padding-top: 40px;*/
	border-top: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

/* Comments Header */

.modal #comments h3 {
	margin-bottom: 20px;
}

/* Comment List */

.modal ol.comment-list, ol.children {
	list-style: none;
}

.modal #comment-1 {
	border-top: none;	
}

.modal li.comment .comment-wrap {
	padding: 5px 0;
	border-top: 1px dotted #ccc;	
}

.modal li.comment ol.children {
	margin-left: 65px;	
}

/* Comment List Content */

.modal ol.comment-list .avatar-wrap {
	float: left;
	margin-right: 15px;
}

.modal ol.comment-list .avatar-wrap a.comment-edit-link {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-style: italic;
}
.modal .avatar img {
	width: 60px;
	height: 60px;
}
.modal ol.comment-list .comment-details {
	overflow: hidden;
}

.modal ol.comment-list .comment-author {
	font-weight: bold;	
}

.modal ol.comment-list .comment-author a {
    color: #383838;
}

.modal ol.comment-list .comment-meta {
	margin-bottom: 15px;	
	color: #888;
	font-style: italic;
	font-size: 0.8em;
}

.modal ol.comment-list .comment-reply-link {
	font-style: italic;
}
.modal ol{
	-webkit-padding-start: 5px;
}
.comment-skeleton {
	display: none;
}
