<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body class="flex-column">

	<header>
		<% include ./partials/header %>
	</header>

	<main class="flex-1 flex-center">
		<%-body%>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>
	<% include ./partials/fbsdk %>
</body>

</html>