/**
 * Flex 系統
 */

.flex-row {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
}
.flex-column {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}
.flex-center {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.flex-start {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-box;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
}
.flex-end {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.flex-D5 {
	-webkit-flex: .5;
	-moz-box-flex: .5;
	-ms-flex: .5;
	flex: .5;
}
.flex-1 {
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.flex-2 {
	-webkit-flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
.flex-3 {
	-webkit-flex: 3;
	-moz-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
}
.flex-4 {
	-webkit-flex: 4;
	-moz-box-flex: 4;
	-ms-flex: 4;
	flex: 4;
}
.flex-5 {
	-webkit-flex: 5;
	-moz-box-flex: 5;
	-ms-flex: 5;
	flex: 5;
}
.flex-6 {
	-webkit-flex: 6;
	-moz-box-flex: 6;
	-ms-flex: 6;
	flex: 6;
}
.flex-7 {
	-webkit-flex: 7;
	-moz-box-flex: 7;
	-ms-flex: 7;
	flex: 7;
}