.pin {
    background: #f00;
    border: 30px solid #f00;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #888888;
    position: relative;
    z-index: 1;
}
.pin:after {
    background: #c00;
    border: 30px solid #c00;
    border-radius: 50%;
    content: "";
    height: 50%;
    position: absolute;
    right: 20%;
    top:15%;
    width: 50%;
    z-index: 2;
}
.pin:before {
    background: #f00;
    border: 30px solid #f00;
    border-radius: 50%;
    content: "";
    height: 60%;
    position: absolute;
    right: 40%;
    top: 5%;
    width: 75%;
    z-index: 4;
}
.rope{
	position:absolute;
	top:10%;
	right:15%;
	height:200%;
	border-right:20px solid #666;
	transform:rotateZ(-40deg);
	z-index:3;
}
.rope1{
	position:absolute;
	top:20%;
	right:110%;
	height:200%;
	width:0px;
	border-left:20px solid #666;
	transform:rotateZ(40deg);
	z-index:3;
}
.board {
    background-color: #993300;
    height: 100%;
    width: 100%;
    border: 20px solid #663300;
    z-index: 5;
}
.pinlebel1 {
    background-color: #f00;
    border-radius: 50%;
}
.pinlebel2 {
    background-color: #ff9900;
    border-radius: 50%;
}
.pinlebel3 {
    background-color: #ffff00;
    border-radius: 50%;
}
.pinlebel4 {
    background-color: #0f0;
    border-radius: 50%;
}
.pinlebel5 {
    background-color: #00f;
    border-radius: 50%;
}
.pinlebel6 {
    background-color: #330099;
    border-radius: 50%;
}
.pinlebel7 {
    background-color: #660066;
    border-radius: 100%;
}
.paper {
    background-color: #ff0;
}