.upload-modal {
	position: absolute;
	top: 0;
	left: -300px;
	width: 600px;
	height: 1000px;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
}
.upload-modal .picture img {
	width: 500px;
	height: 500px;
}