.upload-modal {
	position: absolute;
	top: -250px;
	left: -225px;
	width: 450px;
	height: 600px;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	z-index: -2;
}
.upload-modal::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 50px;
	border-style: solid;
	border-top-left-radius: 10px;
	border-left-color: yellow;
	border-top-color: yellow;
	border-right-color: white;
	border-bottom-color: white;
	z-index: -1;
}
.upload-modal.ADVEN::after {
	border-left-color: red;
	border-top-color: red;
}
.upload-modal.EXP::after {
	border-left-color: orange;
	border-top-color: orange;
}
.upload-modal.SKILL::after {
	border-left-color: green;
	border-top-color: green;
}
.upload-modal.TRAV::after {
	border-left-color: #00baff;
	border-top-color: #00baff;
}
.upload-modal.FAMI::after {
	border-left-color: blue;
	border-top-color: blue;
}
.upload-modal.OTHER::after {
	border-left-color: purple;
	border-top-color: purple;
}
.upload-modal .type-box {
	position: absolute;
	left: 0px;
	top: 10px;
	z-index: 2;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.upload-modal .type {
	font-size: 1.5em;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
.upload-modal .dream-text {
	font-size: 5em;
}
.upload-modal .picture {
	width: 375px;
	height: 250px;
	margin-bottom: 5px;
	cursor: pointer;
}
.upload-modal .picture > img {
	max-height: 100%;
	max-width: 100%;
}
.upload-modal .title-box {
	width: 350px;
	border: 1px solid #2e5dfa;
}
.upload-modal .title {
	width: 100%;
	text-align: center;
	font-size: 2em;
}
.upload-modal .description-box {
	width: 350px;
	border: 1px solid #2e5dfa;
	margin-top: 5px;
	overflow: auto;
}
.upload-modal .description {
	font-size: 1.5em;
	resize: none;
}
.upload-modal .owner {
	font-size: 1.5em;
}
.upload-modal .upload {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 4em;
	cursor: pointer;
}
.sweet-alert button.cancel {
	background-color: #4A4A4A;
}