.login-page .login-board {
	width: 600px;
	height: 400px;
}
.login-page .facebook {
	text-align: center;
	background: #365195;
	padding: 35px 10px 20px 10px;
	width: 170px;
	height: 135px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px #161718;
	margin-right: 10px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
	color: white;
}
.login-page .facebook:hover {
	box-shadow: 0px 0px 0px 0px #161718;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}
.login-page .fa-facebook {
	color: #fff;
	font-size: 7em;
	display: block;
}