.login-page .bg {
	background-image: url('images/bg-blur.png');
	background-size: cover;
	background-position: 50%;
}
.login-page .bg > div {
	width: 100%;
}
.login-page .login-board {
	width: 600px;
	height: 400px;
}
.login-page .facebook {
	text-align: center;
	background: #365195;
	padding: 35px 10px 20px 10px;
	min-width: 170px;
	min-height: 150px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px #161718;
	margin-right: 10px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	color: white;
}
.login-page .facebook:hover {
	box-shadow: 0px 0px 0px 0px #161718;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.login-page .fa-facebook {
	color: #fff;
	font-size: 7em;
	display: block;
}
.login-page .step {
	max-width: 280px;
	height: 160px;
	border-radius: 5px;
	margin: 10px;
	-webkit-transition: -webkit-transform .3s linear;
	transition: transform .3s linear;
	background: rgb(255, 255, 255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.login-page .step:hover {
	cursor: pointer;
	-webkit-transform: scale3d(1.1,1.1,1.1);
	transform: scale3d(1.1,1.1,1.1);
}
.login-page .step i {
	margin: 2px;
}