.desktop {
    background-image: url("./images/bg-small.png");
    background-size: cover;
    overflow: hidden;
}
.right-part {
    width: 300px;
}
.eraser {
    margin: auto;
    display: block;
    width: 75px;
    height: 150px;
    background-image: url("./images/eraser.png");
    background-size: 100% 100%;
}
.pencil {
    margin: auto;
    display: block;
    width: 75px;
    height: 390px;
    background-image: url("./images/pencil.png");
    background-size: 100% 100%;
}
.notebook {
    width: 80%;
    height: 40px;
    border-bottom: 1px solid black;
}
.photo-outer {
    border-radius: 100%;
    margin: 20px;
    padding: 5px;
}
.photo-inner img {
    width: 115px;
    height: 115px;
    border-radius: 100%;
}
.pic-notebook {
    border-radius: 45px;
    margin: 50px 50px 20px;
    background-color: #f5f5f5;
}
.pic-notebook h4 {
    color: #cd0000;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 25px;
}
.pic-notebook .date {
    color: #ae4d18;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    margin-right: 10px;
}
.name_style{
    color: #ae4d18;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
}
.lines-container {
	overflow: hidden;
	margin: 20px;
    font-size: 22px;
}
.list {
    padding: 0 !important;
    border: 1px solid #dedede;
}
.list .dream {
	border-bottom: 1px dotted #ccc;
    height: 43px;
}
.list .dream .delBtn {
	opacity: 0;
	pointer-events: none;
}
.list .dream .delBtn.disabled {
	opacity: 0 !important;
}
.list .dream .detailBtn {
	font-size: 1.2em;
	cursor: pointer;
}
.list .dream .delBtn.SHOW {
	opacity: 1;
	pointer-events: all;
	cursor: pointer;
}
.list .dream-title {
    border-left: double #FFAA9F;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date {
    display: block;
    width: 153px;
}

.list .list-date{
    padding-right: 5px;
}
.list .list-type{
    padding-right: 15px;
}
.list .done{
    padding-right: 15px;
}

.list .list-none ,.list .list-undefined{
    color: #888;
}
.list .list-already {
    color: #100BD0;
}
.list .list-done{
    color: #E51C1C;
}

.list .list-adventure{
    color: red;
}
.list .list-experience {
    color: orange;
}
.list .list-skill{
    color: green;
}
.list .list-travel{
    color: rgb(0, 186, 255);
}
.list .list-family {
    color:  rgb(0, 0, 255);
}
.list .list-others{
    color: rgb(128, 0, 128);
}



.modal .new-dream-modal {
	max-width: 100%;
	max-height: 100%;
	width: 400px;
	height: 480px;
	color: black;
	background-color: #f1e9d2;
	border: 1px white solid;
}

.form-group {
	margin-left: 20px;
	margin-top: 30px;
}

#upload {
	margin-left: 20px;
	margin-top: 20px;
}

.delBtn{
    /*display:none;*/
}

.fa-stack {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    vertical-align: middle;
}
.fa-stack-2x {
    font-size: 1.3em;
}
.fa-stack-1x {
    font-size: 0.8em;
}
.page {
	background: #f5f5f5;
    overflow-x: hidden;
	overflow-y: auto;
    visibility: hidden;
}


.followers{
    overflow: hidden;
}
.list .follow {
    border-bottom: 1px dotted #ccc;
    height: 50px;
}
.list .follow-title {
    border-left: double #FFAA9F;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 40px;
}
.list .follow-photo img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.weather {
	margin: 0 15px;
	font-size: 1.5em;
}
.weather img {
	border: none;
	width: 61px;
	height: 34px;
}

.dream-title-box {
	overflow: hidden;
}

.followbtn {
    visibility: hidden;
    margin-top: 10px;
   background: #ae4d18;
   padding: 8px 16px;
   color: white;
   font-size: 16px;
   font-family: "W3";
   text-decoration: none;
   vertical-align: middle;
   }
.followbtn:hover{
   border-top-color: #693c05;
   background: #693c05;
   color: #ccc;
   }
.followbtn_already{
    margin-top: 10px;
   padding: 8px 16px;
   color: #ccc;
   font-size: 16px;
   font-family: "W3";
   text-decoration: none;
   vertical-align: middle;
   background: #693c05;
}
