.desktop{
    background-image: url("./images/bg-small.png");
    background-size: cover;
}
.right-part {
	width: 300px;
}
.eraser{
    margin: auto;
	display: block;
	width: 75px;
	height: 150px;
	background-image: url("./images/eraser.png");
    background-size: 100% 100%;
}
.pencil{
    margin: auto;
	display: block;
	width: 75px;
	height: 390px;
	background-image: url("./images/pencil.png");
    background-size: 100% 100%;
}
.notebook{
	width: 80%;
	height: 40px;  
	border-bottom: 1px solid black;
}
.photo-outer{
	border: 1px solid black;
    margin: 10px;
	padding: 5px;
    background-color: white;
}
.photo-inner{
	width: 80px;
	height: 80px;
	border: 1px solid black;
	background-image: url("./images/photo.jpg");
	background-size: 100% 100%;
}
.pic-notebook{
    margin: 50px 50px 0;
    background-image: url("./images/fzm-seamless.notebook.texture-18.jpg");
}
