@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Theme Information
/* ----------------------------------------------------------------------
Name: Finesse
Description: Responsive Business Theme
Version: 2.2.2
Author: Ixtendo
Author URI: http://www.ixtendo.com
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Finesse IE Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-IE8 Styles
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* IE8 Styles
/* ---------------------------------------------------------------------- */

/* Slider */

.ie8 .flex-caption,
.ie8 .flex-control-nav {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";   
	zoom: 1;
}

.ie8 .flex-direction-nav a:link, .ie8 .flex-direction-nav a:visited {
	filter: alpha(opacity=80);
}

.ie8 .flex-direction-nav a:hover, .ie8 .flex-direction-nav a:active {
	filter: alpha(opacity=100);	
}

.ie8 .flex-direction-nav a.flex-disabled:link, .ie8 .flex-direction-nav a.flex-disabled:visited, 
.ie8 .flex-direction-nav a.flex-disabled:hover, .ie8 .flex-direction-nav a.flex-disabled:active {
	background-color: #000;
	filter: alpha(opacity=60);
}

/* Entry Slider */

.ie8 .entry-slider-nav a {
	filter: alpha(opacity=80);	
}

.ie8 .entry-slider-nav a:hover, .ie8 .entry-slider-nav a:active {
	filter: alpha(opacity=100);
}

.ie8 .entry-slider-nav a.disabled:link, .ie8 .entry-slider-nav a.disabled:visited,
.ie8 .entry-slider-nav a.disabled:hover, .ie8 .entry-slider-nav a.disabled:active {
	background-color: #000;
	filter: alpha(opacity=60);
}

/* Scroll to Top */

.ie8 #toTopHover {
	filter: alpha(opacity=0);	
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    /* Small Search */

    .ie8 #navbar {
        position: relative;
    }

    .ie8 #search-form {
        position:  absolute;
        top: 0;
        right: 0;
    }

    .ie8 #s {
        position: relative;
    }

}