<div class="flex-row flex-center detail-modal">
	<div class="flex-1 flex-full-height flex-column splitter splitter-l">
		<div class="flex-row flex-center splitter splitter-u">
			<img class="picture" src="http://files.parsetfss.com/79359a35-f294-41fb-a55a-3ebb14eb6707/tfss-9184872a-38d6-410f-9cd4-71231bca794d-photo">
		</div>
		<div class="flex-1 flex-center splitter splitter-d">
			<div class="flex-1 flex-column flex-center">
				<span class="flex-1 flex-center description">賺進人生第一桶金，買車買房買Chromebook</span>
			</div>
		</div>
	</div>
	<div class="flex-2 flex-full-height flex-column splitter splitter-r">
		<div class="flex-column splitter splitter-u">
			<div class="flex-column flex-center">
				<span class="flex-start">DREAM</span>
				<span class="flex-1 title">賺大錢</span>
			</div>
		</div>
		<div class="flex-1 flex-column splitter splitter-d">
			<div class="flex-1 comment-list">
				<div class="flex-row comment">
					<div class="comment-avatar">
						<img src="http://www.ixtendo.com/themes/finesse-html/images/demo/avatar-50x50.png" alt="">
					</div>
					<div class="flex-1 flex-column">
						<div>
							<span class="comment-author"><a>沈柏均</a></span>
						</div>
						<div class="flex-1">
							<span class="comment-content">留言</span>
						</div>
					</div>
					<div class="flex-top-end">
						<span class="comment-date">2015/01/01</span>
					</div>
				</div>
			</div>
			<div class="flex-row comment-area flex-bottom-end">
				<input>
				<button class="send-comment">Send</button>
			</div>
		</div>
	</div>
</div>

