<div class="flex-column upload-modal">
	<div class="type">類型</div>
	<div class="flex-full-width flex-center dream-text">DREAM</div>
	<div class="flex-center picture"><img src="./core/images/dream2.png"></div>
</div>