<div class="flex-column upload-modal">
	<div class="type">類型</div>
	<div class="flex-center dream-text">DREAM</div>
	<div class="flex-center">
		<div class="flex-center picture">
			<img src="./core/images/dream2.png">
		</div>
	</div>
	<div class="flex-center">
		<span class="title">標題</span>
	</div>
	<div class="flex-1 flex-column flex-center">
		<span class="description">敘述</span>
	</div>
	<div class="flex-end">
		<span class="owner">擁有者</span>
	</div>
</div>