<div class="flex-column upload-modal">
	<div class="type">
		<select>
			<option selected style="display:none;">類型</option>
			<option value="adventure">冒險</option>
			<option value="experience">經驗</option>
			<option value="skill">技能</option>
			<option value="travel">旅遊</option>
			<option value="family">家庭</option>
			<option value="other">其他</option>
		</select>
	</div>
	<div class="flex-center dream-text">DREAM</div>
	<div class="upload"><i class="fa fa-cloud-upload"></i></div>
	<div class="flex-center">
		<div class="flex-center picture">
			<img src="./core/images/dream2.png">
		</div>
		<input style="display:none;" id="file" type="file">
	</div>
	<div class="flex-center">
		<div class="flex-center title-box">
			<input class="flex-center title" placeholder="請輸入標題(十字以內)">
		</div>
	</div>
	<div class="flex-1 flex-column flex-center">
		<div class="flex-1 flex-row description-box">
			<textarea class="flex-1 description">敘述</textarea>
		</div>
	</div>
	<div class="flex-end">
		<span class="owner">擁有者</span>
	</div>
</div>