<div class="flex-column upload-modal">
	<div class="flex-full-width flex-center">DREAM</div>
	<div class="flex-center picture"><img src="http://files.parsetfss.com/79359a35-f294-41fb-a55a-3ebb14eb6707/tfss-e34a57f2-881a-498a-9a27-d3357e921cce-photo"></div>
</div>