<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/browse/browse.css">

<%- contentFor( 'script') %>
<script src="page/browse/browse.js"></script>

<%- contentFor('body') %>
<div class="flex-1 flex-column bg">
	<div class="flex-1 flex-row flex-center">
		<div class="pin-foot">
			<div class="pin-head" id="change_dream"></div>
			<div class="pin-body"></div>
			<div class="rope rope-left"></div>
			<div class="rope rope-right"></div>
		</div>
	</div>
	<div class="flex-6 flex-column flex-center">
		<div class="board flex-1 flex-column">
			<div class="board-border topbottom top"></div>
			<div class="flex-1 flex-row" >
				<div class="board-border leftright left"></div>
				<div class="flex-1 flex-column">
					<div class="flex-1 flex-row pin-label-area">
						<div class="pin-label-1 type" type="all">全部</div>
						<div class="pin-label-2 type" type="adventure">冒險</div>
						<div class="pin-label-3 type" type="experience">經驗</div>
						<div class="pin-label-4 type" type="skill">技能</div>
						<div class="pin-label-5 type" type="travel">旅遊</div>
						<div class="pin-label-6 type" type="family">家庭</div>
						<div class="pin-label-7 type" type="others">其他</div>
					</div>
					<div class="flex-6 paper-area">
						<div class="flex-column paper">
							<div class="flex-center">DREAM</div>
							<div class="flex-center picture">
								<img>
							</div>
							<div class="flex-center title">Title</div>
							<div class="flex-1 flex-center description">Description</div>
							<div class="flex-end author">Author</div>
						</div>
					</div>
				</div>
				<div class="board-border leftright right"></div>
			</div>
			<div class="board-border topbottom bottom"></div>
		</div>
	</div>
</div>
<div class="modal-content">
	<div class="flex-column flex-full-height">
		<div class="flex-2 flex-column flex-center flex-full-width">
			<div class="flex-row flex-center flex-full-width">
				<div class="picture"><img></div>
				<div class="flex-1 flex-column flex-center">
					<h2>Title</h2>
					<div class="flex-1 title"></div>
				</div>
			</div>
			<div class="flex-1 flex-top-center flex-full-width">
				<div class="flex-1 flex-column flex-center">
					<h3>Description</h3>
					<div class="flex-1 description"></div>
				</div>
			</div>
		</div>
		<div class="flex-1 flex-column flex-top-start comment-area">
			<div class="flex-row">
				<span>Comments</span>
				<input>
				<button class="send-comment">Send</button>
			</div>
			<section id="comments" class="flex-1 flex-column flex-full-width commentAll">
				<ol class="comment-list">
				</ol>
			</section>
		</div>
	</div>
</div>
<div class="comment-skeleton">
	<li class="comment-sample comment">
		<div class="comment-wrap">
			<div class="avatar-wrap">
				<div class="avatar">
					<img src="http://www.ixtendo.com/themes/finesse-html/images/demo/avatar-50x50.png" alt="">
				</div>
				<a title="Edit comment" href="#" class="comment-edit-link" style="display: none;">Edit</a>
			</div>
			<div class="comment-details">
				<div class="comment-author"><a href="#">高挺桂</a></div>
				<div class="comment-meta" style="display: none;">February 18, 2012 at 5:30 pm</div>
				<div class="comment-content">
					<p>哈哈</p>
				</div>
			</div>
		</div>
	</li>
</div>