<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/browse/browse.css">
<link rel="stylesheet" href="modals/detail.css">

<%- contentFor( 'script') %>
<script src="page/browse/browse.js"></script>

<%- contentFor('body') %>
<div class="flex-1 flex-column bg">
				<div class="flex-1 flex-row">
					<div class="flex-D5 flex-column pin-label-area">
						<div class="flex-7"></div>
                        <div class="flex-1 tag type" type="all" style=" background-color: #688;">全部</div>
						<div class="flex-1 tag type" type="adventure" style="background: red">冒險</div>
						<div class="flex-1 tag type" type="experience" style="background: orange">經驗</div>
						<div class="flex-1 tag type" type="skill" style="background: green">技能</div>
						<div class="flex-1 tag type" type="travel" style="background: #00baff">旅遊</div>
						<div class="flex-1 tag type" type="family" style="background: blue">家庭</div>
						<div class="flex-1 tag type" type="others" style="background: purple">其他</div>
                        <div class="flex-2"></div>
					</div>
					<div class="flex-7 paper-area">
                        <div class="button" id="change_dream"></div>
						<div class="flex-column paper">
                            <div class="flex-1 flex-column ABS-FULL">
                                <div class="flex-1"></div>
                                <div class="flex-1 flex-center dream">DREAM</div>
                                <div class="flex-6 flex-center picture">
                                    <img>
                                </div>
                                <div class="flex-1 flex-center title">Title</div>
				                <div class="flex-4 description des">Description</div>
                                 <div class="flex-1 flex-row">
                                     <div class="flex-1 flex-bottom-start flex-center done_status">完成度</div>
                                     <div class="flex-1 flex-bottom-end author">Author</div>
                                </div>
                            </div>
						</div>
				</div>
</div>
<div class="modal-content">
	<% include ../partials/modals/detail %>
</div>