<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/browse/browse.css">

<%- contentFor( 'script') %>
<script src="page/browse/browse.js"></script>

<%- contentFor('body') %>
<div class="flex-1 flex-column">
	<div class="flex-1 flex-row flex-center">
		<div class="pin-foot">
			<div class="pin-head"></div>
			<div class="pin-body"></div>
			<div class="rope-left"></div>
			<div class="rope-right"></div>
		</div>
	</div>
	<div class="flex-6 flex-column flex-center">
		<div class="board flex-1 flex-column">
			<div class="flex-D5 board-border"></div>
			<div class="flex-6 flex-row" >
				<div class="flex-D2 board-border"></div>
				<div class="flex-6 flex-column">
					<div class="flex-1 flex-row pin-label-area">
						<div class="pin-label-1"></div>
						<div class="pin-label-2"></div>
						<div class="pin-label-3"></div>
						<div class="pin-label-4"></div>
						<div class="pin-label-5"></div>
						<div class="pin-label-6"></div>
						<div class="pin-label-7"></div>
					</div>
					<div class="flex-6 paper-area"></div>
				</div>
				<div class="flex-D2 board-border"></div>
			</div>
			<div class="flex-D5 board-border"></div>
		</div>
	</div>
</div>