<%- contentFor( 'body') %>
    <div class="ABS-FULL flex-row">
            <div class="flex-3 flex-center flex-column pic-notebook">
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
                <div class="notebook"></div>
            </div>
        <div class="flex-1 flex-column">
            <div class="flex-1 flex-center flex-column">
                <div class="photo-outer flex-1 flex-column">
                    <div class="photo-inner flex-1">
                    </div>
                    <p class="flex-center">姓名</p>
                </div>
            </div>
            <div class="flex-1 flex-row flex-center">
                <div class="flex-1 flex-center">
                    <span class="eraser"></span>
                    <span class="pencil"></span>
                </div>
            </div>
        </div>
    </div>
