<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
		</div>
		<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/fbsdk %>
</body>

</html>