<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/list/list.css">

<%- contentFor( 'script') %>
<script src="page/list/list.js"></script>

<%- contentFor('body') %>
  <div class="flex-1 flex-column ABS-FULL">
    <div class="flex-1 flex-column flex-center">
        <div class="pin">
            <div class="rope"></div> 
        </div>
    </div>
  	<div class="flex-3 flex-center">
        <div class="flex-1 flex-column board">
            <div class="flex-D5 flex-row">
                <div class="pinlebel1"></div>
                <div class="pinlebel2"></div>
                <div class="pinlebel3"></div>
                <div class="pinlebel4"></div>
                <div class="pinlebel5"></div>
                <div class="pinlebel6"></div>
                <div class="pinlebel7"></div>
            </div>
            <div class="flex-4 flex-column">
                <div class="flex-1 flex-row">
                    <div class="paper1"></div>
                    <div class="paper2"></div>
                    <div class="paper3"></div>
                    <div class="paper4"></div>
                </div>
                <div class="flex-1 flex-row">
                    <div class="paper5"></div>
                    <div class="paper6"></div>
                    <div class="paper7"></div>
                </div>
            </div>
        </div>
    </div>
  </div>