<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/list/list.css">

<%- contentFor( 'script') %>
<script src="page/list/list.js"></script>

<%- contentFor('body') %>
  <div class="flex-1 flex-column ABS-FULL">
    <div class="flex-D2"></div>
    <div class="flex-1 flex-row">
        <div class="flex-5"></div>
        <div class="flex-1 flex-center pin flex-column">
                <div class="rope"></div> 
                <div class="rope1"></div> 
            </div>
        <div class="flex-5"></div>
    </div>
    <div class="flex-D2"></div>
  	<div class="flex-3 flex-row">
            <div class="flex-D5"></div>
            <div class="flex-4 flex-column flex-center">
                <div class="board flex-1 flex-column">
                <div class="flex-D5 flex-row">
                    <div class="flex-2 flex-row">
                    <div class="flex-1 pinlebel1"></div>
                        <div class="flex-1 pinlebel2"></div>
                        <div class="flex-1 pinlebel3"></div>
                        <div class="flex-1 pinlebel4"></div>
                        <div class="flex-1 pinlebel5"></div>
                        <div class="flex-1 pinlebel6"></div>
                        <div class="flex-1 pinlebel7"></div>
                    </div>
                    <div class="flex-3"></div>
                </div>
                <div class="flex-4 flex-column">
                   <div class="flex-1 flex-row">
                       <div class="flex-1 paper"></div>
                       <div class="flex-1"></div>
                       <div class="flex-1 paper"></div>
                       <div class="flex-1"></div>
                       <div class="flex-1 paper"></div>
                       <div class="flex-1"></div>
                       <div class="flex-1 paper"></div>
                    </div>
                    <div class="flex-1 flex-row">
                        <div class="flex-1"></div>
                        <div class="flex-1 paper"></div>
                        <div class="flex-1"></div>
                        <div class="flex-1 paper"></div>
                        <div class="flex-1"></div>
                        <div class="flex-1 paper"></div>
                        <div class="flex-1"></div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="flex-D5"></div>
    </div>
  </div>