<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/login/login.css">

<%- contentFor( 'script') %>
<script src="page/login/login.js"></script>

<%- contentFor( 'body') %>
<div class="flex-center">
	<div class="facebook"><i class="fa fa-facebook"></i>
		<div class="connect">Connect with Facebook</div>
	</div>
</div>