<%- contentFor( 'style') %>
<link rel="stylesheet" href="page/login/login.css">

<%- contentFor( 'script') %>
<script src="page/login/login.js"></script>

<%- contentFor( 'body') %>
<div class="flex-1 flex-column flex-center bg">
	<div class="flex-1 flex-row flex-center">
		<div class="flex-1 flex-column flex-center step">
			<i class="fa fa-pencil-square-o fa-4x"></i>
			<div>建立夢想清單</div>
		</div>
		<div class="flex-1 flex-column flex-center step">
			<i class="fa fa-search fa-4x"></i>
			<div>觀看別人的夢</div>
		</div>
		<div class="flex-1 flex-column flex-center step">
			<i class="fa fa-graduation-cap fa-4x"></i>
			<div>幫助別人圓夢</div>
		</div>
	</div>
	<div class="flex-1 flex-center">
		<div class="facebook">
			<i class="fa fa-facebook"></i>
			<div class="connect">Connect with Facebook</div>
		</div>
	</div>
</div>