<%- contentFor( 'style') %>
<link rel="stylesheet" href="modals/upload.css">
<%- contentFor( 'script') %>
<style>
	main {
		background-color: yellow;
	}
</style>
<%- contentFor( 'body') %>
<div class="flex-1 flex-center flex-full">
	123
</div>
<div class="modal-content">
	<% include ../partials/modals/upload %>
</div>
<script>
	$(document).ready(function(){
		var modalEvent = function () {
			var modal = this;
			var modalEle = modal.DOMElement;
			var $mask = modalEle.find('.modal-mask');
			var $uploadModal = modalEle.find('.upload-modal');
			$mask.data('uploadModal', $uploadModal);
			$uploadModal.data('uploadModal', $uploadModal);
			$mask[0].addEventListener('mousewheel', wheelfunc, false);
			$uploadModal[0].addEventListener('mousewheel', wheelfunc, false);
			
			var $title = modalEle.find('.title');
			var $description = modalEle.find('.description');
			var $type = modalEle.find('.type');
			
			$title.on('blur', trimText);
			$title.on('keydown', confirmText);
			$description.on('keydown', confirmText);
			
			var $file = modalEle.find('#file');
			var $img = modalEle.find('.picture img');
			$file.data('img', $img);
			$file.on("change", function (e) {
				var $self = $(this);
                var files = e.target.files || e.dataTransfer.files;
                $self.data('file', files[0]);
				
				var reader = new FileReader();
				reader.onload = function (e) {
					var $self = $(this);
					var $img = $self.data('img');
					var imgDURL = e.target.result;
					$img.attr('src', imgDURL);
				}.bind(this);
				reader.readAsDataURL(files[0]);
            });

			$img.parent().on('click', function(){$('#file').click()});
			
			function wheelfunc (e) {
				var $self = $(this);
				if(e.target.tagName == 'TEXTAREA')
					return;
				var $uploadModal = $self.data('uploadModal');
				var step = -(e.deltaY / 10);
				if($(window).height() + $uploadModal.offset().top < 250 && step < 0)
					return;
				if($uploadModal.position().top >= 0 && step > 0)
					return;
				$uploadModal.css('top', '+='+step+'px');
			}
			
			function confirmText (ev) {
				if (ev.which==13){
					$(this).blur();
					return false;
				}
			}

			function trimText (e) {
				var $self = $(this);
				var txt = $self.val()+"";
				var len = calcLength(txt);
				if(len > 20) {
					var str = trimToTheRightSize(txt);
					$self.val(str);
				}
				
				function calcLength (str) {
					var count = 0;
					for (var i = 0, len = str.length; i < len; i++) {
						count += str.charCodeAt(i) < 256 ? 1 : 2;
					}
					return count;
				}
				
				function trimToTheRightSize (str) {
					var temp = str.substring(0, str.length - 1);
					var len = calcLength(temp);
					if(len <= 20) {
						return temp;
					} else {
						return trimToTheRightSize(temp);
					}
				}
			}
		};
		var modal = Modal().init({selector:'.upload-modal'});
		modal.callFunction(modalEvent, modal);
		modal.show();
	});
</script>
