<%- contentFor( 'style') %>
<link rel="stylesheet" href="modals/detail.css">
<%- contentFor( 'script') %>
<style>
	main {
		background-color: yellow;
	}
</style>
<%- contentFor( 'body') %>
<div class="flex-1 flex-center flex-full">
	<% include ../partials/modals/detail %>
</div>