@charset "utf-8";
/* CSS Document */
body{
	background-image:url(../image/star.jpg);
	background-repeat: no-repeat;
	

}

#left {
	width: 495px;
height: 550px;
background-color: #002930;
position: relative;
float: left;
top: 22px;
left: 150px;
/* border: 10px; */
/* border-color: rgb(131, 44, 44); */
border: solid;
border-color: white;
border-radius: 20px;
border-width: 6px;
}


.line {
	top: 11px;
margin: 10px;
width: 300px;
height: 37px;
background-color: #FFFFFF;
border-bottom: 5px solid #AC4A00;
border-radius: 10px;
position: relative;
left: 100px;
}
a{
position: absolute;
top: 13px;
left: 16px;
}
#right{
	width: 40px;
height: 40px;
position: relative;
float: right;
top: 260px;
right: 500px;
	
}
#bed{
background-color: #002930;
width: 348px;
height: 399px;
position: absolute;
top: -87px;
right: -370px;
border-radius: 40px;
border: 6px solid #FFF;
}

#pichead{
width: 300px;
height: 310px;
position: relative;
top: 50px;
right: -25px;
/* border: solid; */
/* border-color: white; */
/* border-width: 0; */
}

#cloudpic img{
position: absolute;
z-index: 1;
top: 153px;
right: 440px;
width: 291px;
height: 176px;
}