.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.modal.SHOW {
	visibility: visible;
}
.modal .modal-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
	background-color: rgba(0,0,0,0.7);
}
.modal .modal-container {
	position: relative;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
	z-index: 9999;
}
.modal.SHOW .modal-container {
	opacity: 1;
}
.modal-content {
	display: none;
}