<div class="header flex-row">
	<span class="flex-1 flex-center">
<!--		<span class="menu">D</span>-->
	</span>
	<span class="flex-2 flex-row">
		<span class="flex-1 flex-center">Running Dreamer</span>
	</span>
	<span class="flex-1 flex-row">
        <span class="flex-6 search"><input class="flex-center title" placeholder="尋找夢想"></span>
        <span class="flex-1 flex-end"><i class="fa fa-search"></i></span>       
<!--		<% include ../partials/fblogin %>-->
	</span>
</div>