<meta charset="UTF-8">
<title>Running Dreamer</title>
<!-- Custom CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/flex.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/list.css">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<!-- Parse SDK -->
<script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
<!-- Tool JS -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Custom JS -->
<script src="js/main.js"></script>
<script src="js/home.js"></script>
<script src="js/list.js"></script>