<meta charset="UTF-8">
<title>Running Dreamer</title>
<link rel="Shortcut Icon" type="image/png" href="favicon.png">
<!-- Google Fonts -->
<link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- sweet alert -->
<link rel="stylesheet" href="core/css/sweet-alert.css">
<script src="core/js/sweet-alert.min.js"></script>
<!-- autocomplete -->
<link rel="stylesheet" href="core/css/autocomplete.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="core/css/flex.css">
<link rel="stylesheet" href="core/css/layout.css">
<link rel="stylesheet" href="core/css/universal.css">
<link rel="stylesheet" href="core/modal/modal.css">
<!-- Page CSS -->
<%- style %>
<!-- Parse SDK -->
<script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
<!-- Tool JS -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- autocomplete JS -->
<script src="core/js/jquery.autocomplete.min.js"></script>
<!-- Custom JS -->
<script src="core/js/init.js"></script>
<script src="core/modal/modal.js"></script>
<script src="core/autocomplete/autocomplete.js"></script>
<!-- Page JS -->

<%- script %>