<meta charset="UTF-8">
<title>Running Dreamer</title>
<!-- Custom CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/flex.css">
<link rel="stylesheet" href="css/layout.css">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<!-- Custom JS -->
<script src="js/main.js"></script>