<div class="menu-area flex-center">
	<div class="flex-center menu menu-menu">
		<i class="fa fa-bars fa-2x"></i>
	</div>
	<div class="flex-center menu menu-submenu menu-create">
		<a href="/"><i class="fa fa-book fa-2x"></i></a>
	</div>
	<div class="flex-center menu menu-submenu menu-browse">
		<a href="/browse"><i class="fa fa-cloud fa-2x"></i></a>
	</div>
	<div class="flex-center menu menu-submenu menu-fulfill">
		<a href="/login"><i class="fa fa-envelope fa-2x"></i></a>
	</div>
</div>